<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Primeira Página HTML Com Thymeleaf</title>
</head>
<body>
    <p th:text="${mensagemDaController}"></p>
    <form method="post" th:action="@{/create}" th:object="${pessoa}">
        Nome do Candidato: <input type="text" name="nome"/>
        <br/>
        Email do Candidato: <input type="text" name="email"/>
        <br/>
        Usuario do Candidato: <input type="text" name="usuario"/>
        <br/>
        <button>Cadastrar Candidato</button>
    </form>
</body>

</html>